<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}基础样板1{% endblock %}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-responsive.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/matrix-style.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/matrix-media.css')}}" />
<link href="{{url_for('static',filename='font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
{% block head %}{% endblock %}
</head>
<body>

<!--Header-part-->
<div id="header">
  <img src="{{url_for('static',filename='img/clothes-hanger.png')}}" alt="image" class="main__bg">
  <h2>一帆制衣</h2>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">个人信息</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> 信息修改</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> 更改密码</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-key"></i> 切换角色</a></li>
      </ul>
    </li>
    <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> new message</a></li>
        <li class="divider"></li>
        <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> inbox</a></li>
        <li class="divider"></li>
        <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> outbox</a></li>
        <li class="divider"></li>
        <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">个人信息</span></a></li>
    <li class=""><a title="" href="/user/logout"><i class="icon icon-share-alt"></i> <span class="text">退出登录</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="submenu"> <a href="#"><i class="icon-user"></i> <span>人员管理</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="/user/usermanage"><i class="icon-user-md"></i> 用户管理</a></li>
        <li><a href="/user/character"><i class="icon-group"></i> 角色管理</a></li>
        <li><a href="#"><i class="icon-key"></i> 权限管理</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon-ok"></i> <span>采购管理</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="/procurement/prmanage"><i class="icon-ok-circle"></i> 采购申请</a></li>
        <li><a href="/procurement/preview"><i class="icon-check"></i> 采购申请审核</a></li>
        <li><a href="/procurement/pomanage"><i class="icon-ok-sign"></i> 采购订单</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon-th-large"></i> <span>仓库管理</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="#"><i class="icon-th"></i> 仓库与货位信息</a></li>
        <li><a href="#"><i class="icon-truck"></i> 领料入库</a></li>
        <li><a href="#"><i class="icon-inbox"></i> 库存现有量</a></li>
      </ul>
    </li>
    <li><a href="/procurement/suppliermanage"><i class="icon-shopping-cart"></i> <span>供应商管理</span></a></li>
    <li class="submenu"> <a href="#"><i class="icon-list-alt"></i> <span>物料管理</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="#"><i class="icon-th-list"></i> 物料分类</a></li>
        <li><a href="#"><i class="icon-list-ol"></i> 物料单位</a></li>
        <li><a href="/product/materialmanage"><i class="icon-list"></i> 物料信息</a></li>
      </ul>
    </li>
    <li><a href="#"><i class="icon-edit"></i> <span>客单管理</span></a></li>
    <li class="submenu"> <a href="#"><i class="icon-tasks"></i> <span>生产任务</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="#"><i class="icon-sitemap"></i> 下发任务</a></li>
        <li><a href="#"><i class="icon-volume-up"></i> 报工</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
    {% block body %}{% endblock %}
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2025 &copy; 一帆风顺制衣有限公司</div>
</div>

<!--end-Footer-part-->

<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script> 
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script> 
<script src="{{url_for('static',filename='js/matrix.js')}}"></script> 
{% block script %}{% endblock %}
</body>
</html>