{% extends "base.html" %}

{% block title %}客户订单管理{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/uniform.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/select2.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/product.css')}}" />
{% endblock %}

{% block body %}
<div id="content-header">
    <div id="breadcrumb"> <a href="{{ url_for('home')}}" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="{{ url_for('customer.somanage')}}" class="current"><i class="icon-edit"></i> 客单管理</a> </div>
    <h1>客户订单管理</h1>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% else %}alert-info{% endif %} fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-hand-right"></i> </span>
                    <h5>新增订单操作</h5>
                </div>
                <div class="widget-content">
                    <form id="importForm" action="{{ url_for('customer.import_so') }}" method="post" enctype="multipart/form-data" style="display:inline;">
                        <div style="display:none;"> 
                            <input type="file" name="file" id="fileInput" accept=".xlsx, .xls" onchange="document.getElementById('importForm').submit();">
                        </div>
                        <a href="#" class="btn btn-success" onclick="document.getElementById('fileInput').click(); return false;"><i class="icon-print"></i> 导入客户订单</a>
                    </form>
                    <a href="{{ url_for('static', filename='files/销售订单模版.xlsx') }}" class="btn btn-warning"><i class="icon-download-alt"></i> 下载导入模板</a> <a href="{{ url_for('customer.somanage')}}" class="btn btn-info"><i class="icon-repeat"></i> 刷新</a>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>订单列表</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered" id="materialTable">
                        <thead>
                            <tr>
                                <th>订单编号</th>
                                <th>客户单位</th>
                                <th>客户姓名</th>
                                <th>客户电话</th>
                                <th>客户地址</th>
                                <th>责任人姓名</th>
                                <th>下单日期</th>
                                <th>要求交货日期</th>
                                <th>订单状态</th>
                                <th>实际交货日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for soheader in soheaders %}
                            <tr>
                                <td>{{ soheader.orderid }}</td>
                                <td>{{ soheader.organization }}</td>
                                <td>{{ soheader.clientname }}</td>
                                <td>{{ soheader.clientphone }}</td>
                                <td>{{ soheader.address }}</td>
                                <td>{{ soheader.responsible }}</td>
                                <td class="center">{{ soheader.orderdate }}</td>
                                <td class="center">{{ soheader.deliverydate }}</td>
                                <td>{{ soheader.orderstatus }}</td>
                                <td>
                                    {% if soheader.completion %}
                                        {{ soheader.completion }}
                                    {% endif %}
                                </td>
                                <td>
                                <span> <a href="{{ url_for('customer.soinfo', orderid=soheader.orderid) }}" class="btn btn-primary btn-mini"><i class="icon-info-sign"></i> 详情</a> </span>
                                {% if soheader.orderstatus != '已交付' %}
                                <span> <a href="#" class="btn btn-danger btn-mini btn-row-delete"><i class="icon-road"></i> 交付</a> </span>
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content-header">
    <h1></h1>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static',filename='js/jquery.ui.custom.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.uniform.js')}}"></script> 
<script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.validate.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='js/matrix.tables.js')}}"></script>
<script src="{{url_for('static',filename='js/matrix.form_validation.js')}}"></script>
<script>
$(document).ready(function() {
  // 手动初始化物料表格
  $('#materialTable').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "sDom": '<"dt-toolbar-flex dt-top-toolbar"lf><"table-scroll-wrapper"t><"dt-toolbar-flex dt-bottom-toolbar"ip>',
    "bAutoWidth": false,
    "aaSorting": [[ 4, "desc" ]],
    "oLanguage": {
          "sLengthMenu": "展示 _MENU_ 页",
          "sZeroRecords": "没有找到匹配的记录",
          "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
          "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
          "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
          "sSearch": "搜索：",
          "oPaginate": {
              "sFirst": "首页",
              "sPrevious": "上一页",
              "sNext": "下一页",
              "sLast": "尾页"
          }
    }
  });
  
  // 修复 Select2 在 DataTables 中的显示宽度问题
  $('select').select2();
});
</script>
{% endblock %}